.apod-card {
  height: 100%;
  width: 80%;
  margin-left: 7%;
  border: 1px solid #5c9ead;
  border-radius: 10px;
  padding: 0 20px;
  background: #f3f3f3;
  color: #333;
}

.apod-card img {
  height: 50vh;
  width: auto;
  border-radius: 10px;
}

.apod-card h3 {
  font-size: 1.5rem;
}

.apod-card p {
  padding: 0 20px;
}
